pandas
numpy
scikit-learn
fastapi
uvicorn
mlflow
dvc
pytest
joblib
prometheus-client
xgboost>=1.7.6
hyperopt>=0.2.7
matplotlib>=3.7.2
seaborn>=0.12.2
shap>=0.42.1
pydantic==2.5.0
pytest>=7.4.0
httpx>=0.24.0
pytest-cov==4.1.0
